.button {
  padding: 12px 20px;
  border: 3px solid white;
  border-radius: 15px;
  color: white;
  font-weight: 900;
  transition: 0.2s ease-out;
  display: inline-block;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
